<%= form_for(@recipe_ingredient) do |f| %>
  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% @recipe_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">  
  <div class="col-xs-12 field">
    <div class="field">
      <%= f.label :ingredient_name %><br>
      <%= f.text_field :ingredient_name %>
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-xs-12 actions">
    <%= link_to 'Show', @recipe_ingredient,  class: "btn btn-default  pull-right" %> 
    <%= link_to 'Back', recipe_ingredients_path, class: "btn btn-default  pull-right" %>

    <%= f.submit class: "btn btn-primary pull-right" %>

  </div>
</div>

<% end %>
