<p id="notice"><%= notice %></p>


  <h1>Types of <%= @recipe_category.category_name.titleize %></h1>


  <% @recipe_category.recipes.each do |recipe| %>
  	<%= link_to "#{recipe.recipe_name}", recipe %> <br/>
  <% end %>

<%= link_to 'Edit', edit_recipe_category_path(@recipe_category) %> |
<%= link_to 'Back', recipe_categories_path %>
