<% content_for(:javascript_includes, javascript_include_tag("blogs.js")) %>
<div class="panel panel-default no-bottom-margin">
    <div class="panel-heading">
      <h2><%= @blog.title %></h2>
    </div>
    <div class="panel-body">
		<%= @blog.body %>
	</div>
</div>
<small>Submitted <%= time_ago_in_words(@blog.created_at) %> ago</small>

<h3>Comments</h3>

<%= form_for [@blog, BlogComment.new] do |f| %>
  	<div class="input-group">
      	<%= f.text_area :body, placeholder: "Post a Comment", class: "form-control" %>
  		<span class="input-group-btn">
  			<%= f.submit "Post", class: "btn btn-default text-area-input-btn"  %>
  		</span>	      	
    </div>
<% end %>

<h3>Previous Comments</h3>
<ul>
  <%= render(partial: 'blog_comments/blog_comment', collection: @blog.blog_comments) %>
</ul>

