<div class="panel panel-default no-bottom-margin">
    <div class="panel-heading">
      <h2><%= @blog.title %></h2>
    </div>
    <div class="panel-body">
		<%= @blog.body %>
	</div>
</div>
<small>Submitted <%= time_ago_in_words(@blog.created_at) %> ago</small>

<h3>Add Comment</h3>

<div ng-controller="ctlrComment">
  <form ng-class="form" ng-submit="postComment(<%= @blog.id %>,body)" name="newBlogComment" id="newBlogComment" novalidate>
  	<div class="input-group">
        <textarea name="body" id="body" class="form-control" rows="3" placeholder="Post a Comment" required ng-model="body"></textarea>
  		<span class="input-group-btn">
        <button type="submit" class="btn btn-default text-area-input-btn">Post</button>
  		</span>	      	
    </div>
  </form>
</div>

<% if @blog.blog_comments.size > 0 %>
<h3>Previous Comments</h3>
<div ng-controller="ctlrReply">
<ul>
  <%= render(partial: 'blog_comments/blog_comment', collection: @blog.blog_comments) %>
</ul>
</div>

<% end %>

<div class="clearfix"></div>
