<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-12">
  <h1>Recipe Step</h1>
	<hr style="width:100%">
	<div class="row">

		<div class="col-md-12">
			<h2>
			  <%= @recipe_step.recipe_id %>: <%= @recipe_step.recipe.recipe_name rescue "What name?" %>
			</h2>
			<p>
				<br/>
			  <strong>Step order:</strong>
			  <%= @recipe_step.step_order %>
			</p>

			<p>
			  <strong>Step instruction:</strong>
			  <%= @recipe_step.step_instruction %>
			</p>

		</div>

	</div>
	<%= link_to 'Close', recipe_steps_path, class: "btn btn-primary pull-right" %>
</div>
</div>