<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @recipe_step.step_id %>
</p>

<p>
  <strong>Step:</strong>
  <%= @recipe_step.step_id %>
</p>

<p>
  <strong>Step order:</strong>
  <%= @recipe_step.step_order %>
</p>

<p>
  <strong>Step instruction:</strong>
  <%= @recipe_step.step_instruction %>
</p>

<%= link_to 'Edit', edit_recipe_step_path(@recipe_step) %> |
<%= link_to 'Back', recipe_steps_path %>
