<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_step.recipe_id %>
</p>

<p>
  <strong>Step order:</strong>
  <%= @recipe_step.step_order %>
</p>

<p>
  <strong>Step instruction:</strong>
  <%= @recipe_step.step_instruction %>
</p>

<%= link_to 'Edit', edit_recipe_step_path(@recipe_step),  class: "btn btn-default  pull-right" %> 
<%= link_to 'Back', recipe_steps_path,  class: "btn btn-default  pull-right" %> 
