<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-3 col-xs-12 form-group">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, RecipeCategory.all, :id, :category_name, {}, {class: "form-control"} %>

  </div>
  <div class="col-md-2 col-xs-12 form-group">
    <label style="margin-bottom:10px; class="pull-right"">Publish</label><br>
    <div class="switch" >
    <%= f.check_box :active, {id:"cmn-toggle-1",  class:"cmn-toggle cmn-toggle-round"}, checked_value="1", unchecked_value="0"  %>
    <label for="cmn-toggle-1"></label>
    </div>
  </div> 
  <div class="col-md-2 col-xs-12 form-group">
    <%= f.label "Sort" %><br>
    <%= f.number_field :sort_order, class: "form-control" %>
  </div>   
  <div class="col-md-5 col-xs-12 form-group">
    <%= f.label :recipe_name %><br>
    <%= f.text_field :recipe_name, class: "form-control" %>
  </div>
</div>

<div class="row">  
  <div class="col-xs-12 field form-group">
    <%= f.label :recipe_description %><br>
    <%= f.text_area :recipe_description, class: "recipe-description, form-control"%><br/>
  </div>
  <div class="col-xs-12 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Image</div>
      <div class="panel-body">
        <%= f.fields_for :recipe_images do |image| %>
          <% render "recipe_image_fields", :f => image %>
        <% end %>
        <p style="margin-top:1em;"><%= link_to_add_fields "New Image", f, :recipe_images %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Ingredients</div>
      <div class="panel-body">
        <%= f.fields_for :recipe_ingredient_links do |ingredient| %>
          <% render "recipe_ingredient_link_fields", :f => ingredient %>
        <% end %>
        <p style="margin-top:1em;"><%= link_to_add_fields "New Ingredient", f, :recipe_ingredient_links %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Steps</div>
      <div class="panel-body">
        <%= f.fields_for :recipe_steps do |step| %>
          <% render "recipe_step_fields", :f => step %>
        <% end %>
        <p style="margin-top:1em;"><%= link_to_add_fields "New Step", f, :recipe_steps %></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 actions form-group">
    <%= link_to 'Show Recipe', @recipe,  class: "btn btn-default  pull-right" %> 
    <%= link_to 'Recipe List', recipes_path, class: "btn btn-default  pull-right" %>

    <%= f.submit class: "btn btn-primary pull-right" %>

  </div>
</div>  
<% end %>


