<div class="row fields">
  <div class="col-md-1 col-xs-12 field">
    <%= f.label "Quantity" %><br>
    <%= f.number_field :ingredient_quantity, class: "form-control", step: :any %>
  </div>
  <div class="col-md-2 col-xs-12 field">
    <%= f.label "Units" %><br>
    <%= f.collection_select :recipe_ingredients_unit_id, RecipeIngredientsUnit.all, :id, :ingredient_unit_name,{}, {class: "form-control"} %>
  </div>
  <div class="col-md-8 col-xs-12 field">
    <%= f.label "Ingredient" %><br>
    <%= f.collection_select :recipe_ingredient_id, RecipeIngredient.all, :id, :ingredient_name,{}, {class: "form-control", style: "width:90%;"} %>
  </div>  
  <div class="col-md-1 col-xs-12 field">
    <%= link_to_remove_fields "", f %>
  </div>  
</div>  