<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-12">
	<h1><%= @recipe.recipe_name %></h1>
	<hr style="width:100%">

	<% if @recipe.active == 1 %>
	<div class="row">	
		<div class="col-md-6 col-xs-12">
		  <% @recipe.recipe_images.each do |image| %>
		    <%= image_tag(image.image_url, alt: @recipe.recipe_name, class: "recipe-image" ) %>
		  <% end %>
		</div>
		<div class="col-md-6 col-xs-12">
			<p class="recipe-desc">
			<%= @recipe.recipe_description.html_safe %>
		</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
		<h3>Ingredients</h3>
			<ol>
		  	<% @recipe.recipe_ingredient_links.each do |ingredient| %>
		  		<li>
		  			<%= ingredient.ingredient_quantity %> <%= ingredient.recipe_ingredients_unit.ingredient_unit_name %> <%= ingredient.recipe_ingredient.ingredient_name %>
		  			
		  		</li>	
		  	<% end %>
		  	</ol>			
		</div>	
		<div class="col-md-6 col-xs-12">
			<h3>Instructions</h3>
			<ol>
		  	<% @recipe.recipe_steps.each do |step| %>
		  		<li>
		  			<%= step.step_order %>. <%= step.step_instruction %>
		  			
		  		</li>	
		  	<% end %>
		  	</ol>			
		</div>		
	</div>				


	<% else %>
	<div class="row">	
		<div class="col-md-12">
			<p class="h3">Mmm, sounds good, don't it? But you see I haven't actually created this one yet. Please check back at in a week or two.</p>
		</div>		
	</div>	
	<% end %>

	<% if user_signed_in? %>
		<%= link_to 'Close', recipes_path, class: "btn btn-primary pull-right" %>
	<% else %>
		<%= link_to 'Back', home_path(anchor: "recipes"), class: "btn btn-primary pull-right" %>
	<% end %>
</div>
</div>