<p id="notice"><%= notice %></p>

<h1><%= @recipe.recipe_name %></h1>
<hr style="width:100%">


<p>
  <strong>Recipe Description:</strong>
  <%= @recipe.recipe_description.html_safe %>
</p>

<p>
  <strong>Recipe Images:</strong> 
  <% @recipe.recipe_images.each do |image| %>
  	<%= image.image_url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
