<%= form_for(@recipe_steps_ingredient) do |f| %>
  <% if @recipe_steps_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_steps_ingredient.errors.count, "error") %> prohibited this recipe_steps_ingredient from being saved:</h2>

      <ul>
      <% @recipe_steps_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">  
  <div class="col-md-6 col-xs-12 field">
    <%= f.label :step_id %><br>
    <%= f.number_field :step_id %>
    <%= collection_select(:step_id, 0, Recipe_steps.all, :id, :step_instruction) %>
  </div>
  <div class="col-md-6 col-xs-12 field">
    <%= f.label :ingredient_id %><br>
    <%= collection_select(:ingredient_id, 0, Recipe_steps.all, :id, :ingredient_name) %>
  </div> 
</div>
<div class="row">  
  <div class="col-md-6 col-xs-12 field">
    <%= f.label :step_ingredient_quantity %><br>
    <%= f.text_field :step_ingredient_quantity %>
  </div>
  <div class="col-md-6 col-xs-12 field">
    <%= f.label :ingredient_units_id %><br>
    <%= f.number_field :ingredient_units_id %>   
  </div> 
</div>

  <div class="actions">
    <%= link_to 'Show', @recipe_steps_ingredient,  class: "btn btn-default  pull-right" %> 
    <%= link_to 'Back', recipe_steps_ingredients_path, class: "btn btn-default  pull-right" %>    
    <%= f.submit %>
  </div>


<% end %>
