<p id="notice"><%= notice %></p>

<p>
  <strong>Step ingredient:</strong>
  <%= @recipe_steps_ingredient.step_ingredient_id %>
</p>

<p>
  <strong>Step:</strong>
  <%= @recipe_steps_ingredient.step_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @recipe_steps_ingredient.ingredient_id %>
</p>

<p>
  <strong>Step ingredient quantity:</strong>
  <%= @recipe_steps_ingredient.step_ingredient_quantity %>
</p>

<p>
  <strong>Ingredient units:</strong>
  <%= @recipe_steps_ingredient.ingredient_units_id %>
</p>

<%= link_to 'Edit', edit_recipe_steps_ingredient_path(@recipe_steps_ingredient) %> |
<%= link_to 'Back', recipe_steps_ingredients_path %>
