<%= form_for(@recipe_ingredients_unit) do |f| %>
  <% if @recipe_ingredients_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredients_unit.errors.count, "error") %> prohibited this recipe_ingredients_unit from being saved:</h2>

      <ul>
      <% @recipe_ingredients_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">  
  <div class="col-xs-12 field">
    <div class="field">
    <%= f.label :ingredient_unit_name %><br>
    <%= f.text_field :ingredient_unit_name, style: "width: 100%"  %>
  </div>
</div>  
<div class="row">    
  <div class="col-xs-12 actions">
     
    <%= link_to 'Back', recipe_ingredients_unit_path, class: "btn btn-default  pull-right" %>

    <%= f.submit class: "btn btn-primary pull-right" %>

  </div>
</div>
<% end %>
