<p id="notice"><%= notice %></p>

<h1>Ingredient Units</h1>

<table>
  <thead>
    <tr>
      <th>Ingredient Unit</th>
      <th colspan="3"><%= link_to 'New Recipe ingredients unit', new_recipe_ingredients_unit_path,  class: "btn btn-primary" %></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredients_units.each do |recipe_ingredients_unit| %>
      <tr>
        <td><%= recipe_ingredients_unit.ingredient_unit_name %></td>

        <td><%= link_to recipe_ingredients_unit  do %><i aria-hidden="false" class="glyphicon glyphicon-eye-open"></i><% end %></td>
        <td><%= link_to edit_recipe_ingredients_unit_path(recipe_ingredients_unit) do %><i aria-hidden="false" class="glyphicon glyphicon-pencil"></i><% end %></td>
        <td><%= link_to recipe_ingredients_unit, method: :delete, data: { confirm: 'Are you sure?' } do %><i aria-hidden="false" class="glyphicon glyphicon-trash"></i><% end %></td>         
      </tr>
    <% end %>
  </tbody>
</table>




