<p id="notice"><%= notice %></p>

<h1>Listing Recipe Ingredients Units</h1>

<table>
  <thead>
    <tr>
      <th>Ingredient unit</th>
      <th>Ingredient unit name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredients_units.each do |recipe_ingredients_unit| %>
      <tr>
        <td><%= recipe_ingredients_unit.ingredient_unit_id %></td>
        <td><%= recipe_ingredients_unit.ingredient_unit_name %></td>
        <td><%= link_to 'Show', recipe_ingredients_unit %></td>
        <td><%= link_to 'Edit', edit_recipe_ingredients_unit_path(recipe_ingredients_unit) %></td>
        <td><%= link_to 'Destroy', recipe_ingredients_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe ingredients unit', new_recipe_ingredients_unit_path %>
