<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient unit:</strong>
  <%= @recipe_ingredients_unit.ingredient_unit_id %>
</p>

<p>
  <strong>Ingredient unit name:</strong>
  <%= @recipe_ingredients_unit.ingredient_unit_name %>
</p>

<%= link_to 'Edit', edit_recipe_ingredients_unit_path(@recipe_ingredients_unit) %> |
<%= link_to 'Back', recipe_ingredients_units_path %>
