<%= form_for(@recipe_image) do |f| %>
  <% if @recipe_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_image.errors.count, "error") %> prohibited this recipe_image from being saved:</h2>

      <ul>
      <% @recipe_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4 col-xs-12 field">
    <%= f.label :recipe_id %><br>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :recipe_name %>
  </div>
  <div class="col-md-8 col-xs-12 field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, style: "width:100%" %>
  </div>
</div>  

  <div class="col-md-12 actions">
    <%= link_to 'Show', @recipe_image,  class: "btn btn-default  pull-right" %>
    <%= link_to 'Back', recipe_images_path,  class: "btn btn-default  pull-right" %> 
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
<% end %>
