<p id="notice"><%= notice %></p>

<h1>Listing Recipe Images</h1>

<table>
  <thead>
    <tr>
      <th>Images</th>
      <th>Recipe</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_images.each do |recipe_image| %>
      <tr>
        <td><%= recipe_image.images_id %></td>
        <td><%= recipe_image.recipe_id %></td>
        <td><%= recipe_image.image_url %></td>
        <td><%= link_to 'Show', recipe_image %></td>
        <td><%= link_to 'Edit', edit_recipe_image_path(recipe_image) %></td>
        <td><%= link_to 'Destroy', recipe_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe image', new_recipe_image_path %>
