<% if blog_comment.publish == 1 %>
<li> 
  <%= blog_comment.body %> -
  <small>Submitted <%= time_ago_in_words(blog_comment.created_at) %> ago</small>
  <i class='fa fa-reply annotate-group' id='comment-<%= blog_comment.id %>' data-id='<%= blog_comment.id %>' style='font-size:18px;color:#cc0000;cursor:pointer;' title="Reply" > </i>

  <div id="reply_<%= blog_comment.id %>" style="display:none;">
    <form ng-class="form" ng-submit="postReply(<%= blog_comment.id %>,body)" name="newBlogReply_<%= blog_comment.id %>" id="newBlogReply_<%= blog_comment.id %>" novalidate>
      <div class="input-group">
          <textarea name="body" class="form-control" rows="3" placeholder="Post a Reply" required ng-model="body"></textarea>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default text-area-input-btn">Post</button>
        </span>         
      </div>
    </form>
  </div>
  <ul>
      <%= render partial: 'blog_comments/blog_comment', collection: blog_comment.blog_comments %>
  </ul>

</li>
<% end %>